

body {
    margin: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #49545C;
}
html, body {
    min-height: 100%;
}
canvas {
    text-align: center;
    position: absolute;
    border: black 1px solid;
    width : 320px;
    height : 280px;
}
* {
    font-weight: inherit;
}
*, :after, :before, input[type=search] {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    direction: ltr;
    unicode-bidi: isolate;
}
user agent stylesheet
body {
    display: block;
    margin: 8px;
}
#webcam {
    text-align: center;
}
#secret {
    text-align: center;
    font-size : 10px;
    margin : 10px;
}
html {
    background-color: #fff;
    min-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    color: #555;
    -webkit-font-feature-settings: 'kern',"kern";
    font-feature-settings: 'kern',"kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

#a {
    margin:10px;
}
.mne {
    border: 2px solid skyblue;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    background-color: skyblue;
    color:black;
    font-size: 13px;
    font-weight: bold;
}
.mnee {
    border: 2px solid skyblue;
    padding: 10px;
    margin: 5px;
    width:70px;
    display: inline-block;
    border-radius: 10px;
    background-color: skyblue;
    color:black;
    font-size: 13px;
    font-weight: bold;
}
#mnes{
    text-align: center;
}

*, :after, :before, input[type=search] {
    box-sizing: inherit;
}
*, :after, :before, input[type=search] {
    box-sizing: inherit;
}

@media (min-width: 600px){
.modal {
    border-radius: 2px;
    box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 5% auto 50px;
    width: 380px;
}
}

.modal {
    background: #fff;
    padding: 10px;
    position: relative;
    text-align: left;
}
.title {
    color: #333333;
    font-size: 16px;
    margin: -5px 0 25px;
    text-align: center;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: ;
}
h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: bolder;
    font-size: larger;
}

form {
    display: block;
    margin-top: 0em;
}
input {
    line-height: normal;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}

input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}
input {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
form p {
    margin-bottom: 20px;
    text-align: center;
}

blockquote, dd, dl, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, ol, p, pre, ul {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}


form label {
    color: #2F3941;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 5px;
}


input[type="text"], input[type="email"], input[type="password"] {
    border-color: #68737d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #49545C;
    margin-bottom: 10px;
    padding: 12px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], .service {
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: 42px;
    width: 100%;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
* {
    font-weight: inherit;
}
*, :after, :before, input[type=search] {
    box-sizing: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
input:not([type="range"]):not([type="color"]) {
    writing-mode: horizontal-tb !important;
}
input[type="text" i] {
    padding: 1px 2px;
}
input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
}

input[type="text"], input[type="email"], input[type="password"] {
    border-color: #68737d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    color: #49545C;
    margin-bottom: 10px;
    padding: 12px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="submit"], .service {
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: 42px;
    width: 100%;
}


form .controls {
    text-align: right;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

input[type="submit"] {
    background: #1f73b7;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], .service {
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    height: 42px;
    width: 100%;
}

form .controls a {
    color: #68737D;
    display: inline-block;
    margin: 10px 0 15px;
}

a, ins, u {
    text-decoration: none;
}

.title {
    color: #333333;
    font-size: 16px;
    margin: -5px 0 25px;
    text-align: center;
}

.h2{
    text-align: center;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #49545C;
}
html {
    background-color: #fff;
    min-height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    line-height: 20px;
    color: #555;
    -webkit-font-feature-settings: 'kern',"kern";
    font-feature-settings: 'kern',"kern";
    -webkit-font-kerning: normal;
    font-kerning: normal;
    font-family: proxima-nova,sans-serif;
    font-size: 14px;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*, :after, :before, input[type=search] {
    box-sizing: inherit;
}
