element.style {
}

#webcam {
    display : flex;
    justify-content: center;
}
canvas {
    text-align: center;
    position: absolute;
    border: black 1px solid;
    width : 600px;
    height : 448px;
}

video {
    text-align : center;
    position: absolute;
    border: black 1px solid;
}

body {
    line-height: inherit;
    margin: 0;
}
*, :after, :before {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
*, :after, :before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}
body {
    display: block;
    margin: 8px;
}
html {
    -webkit-text-size-adjust: 100%;
    font-family: EuclidCircularB,Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    line-height: 1.5;
    tab-size: 4;
}

#root, html {
    height: 100%;
}

#root {
    color: #262833;
}
#root {
    background-color: #f8fafc;
}

.bg-default {
    background-color: #f8fafc;
}

.min-h-full {
    min-height: 100%;
}
.max-h-screen {
    max-height: 100vh;
}
.relative {
    position: relative;
}

.overflow-y-auto {
    overflow-y: auto;
}

.flex-col {
    flex-direction: column;
}
.w-full {
    width: 100%;
}
.min-h-screen {
    min-height: 100vh;
}

/* @media (min-width: 1024px) */
.lg\:justify-start {
    justify-content: flex-start;
}
/* @media (min-width: 768px) */
.md\:hidden {
    display: none;
}
/* @media (min-width: 640px) */
.sm\:h-20 {
    height: 5rem;
}
.bg-surface-default {
    background-color: #fff;
}
.justify-between {
    justify-content: space-between;
}
.flex-shrink-0, .shrink-0 {
    flex-shrink: 0;
}
.h-16 {
    height: 0rem;
}
.flex {
    display: flex;
}
.z-10 {
    z-index: 10;
}
.top-0 {
    top: 0;
}

/* @media (min-width: 1024px) */
.lg\:hidden {
    display: none;
}
/* @media (min-width: 640px) */
.sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.text-slate-600 {
    --tw-text-opacity: 1;
    color: rgb(71 85 105/var(--tw-text-opacity));
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/* main */


/* @media (min-width: 1024px) */
.lg\:mt-0, .lg\:my-0 {
    margin-top: 0;
}
/* @media (min-width: 1024px) */
.lg\:my-0 {
    margin-bottom: 0;
}
/* @media (min-width: 1024px) */
.lg\:mx-8 {
    margin-left: 2rem;
    margin-right: 2rem;
}
/* @media (min-width: 768px) */
.md\:mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.flex-1 {
    flex: 1 1;
}
.my-4 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.isolate {
    isolation: isolate;
}


.pb-10 {
    padding-bottom: 2.5rem;
}

/* @media (min-width: 1024px) */
.lg\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* @media (min-width: 640px) */
.sm\:pb-12 {
    padding-bottom: 3rem;
}
/* @media (min-width: 640px) */
.sm\:pt-8 {
    padding-top: 2rem;
}
/* @media (min-width: 640px) */
.sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.bg-default {
    background-color: #f8fafc;
}
.pb-10 {
    padding-bottom: 2.5rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}



/*  */
/* @media (min-width: 768px) */
.md\:pb-9 {
    padding-bottom: 2.25rem;
}
/* @media (min-width: 768px) */
.md\:border-b-0 {
    border-bottom-width: 0;
}
.pb-4 {
    padding-bottom: 1rem;
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.border-b {
    border-bottom-width: 1px;
}
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
}
.relative {
    position: relative;
}

/*  */
/* @media (min-width: 640px) */
.sm\:py-3 {
    padding-bottom: 0.75rem;
    padding-top: 0.75rem;
}

.py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.justify-center {
    justify-content: center;
}
/*  */
.space-y-3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse));
    margin-top: calc(0.75rem*(1 - var(--tw-space-y-reverse)));
}
.pb-6 {
    padding-bottom: 1.5rem;
}

/*  */

.text-left {
    text-align: left;
}

/*  */
.text-default {
    color: #262833;
}

.border-default {
    border-color: #a8abbe;
}
.transition-colors {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.px-3\.5 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}
.py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.bg-inherit {
    background-color: inherit;
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.w-full {
    width: 100%;
}
.inline-flex {
    display: inline-flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/*  */
.items-center {
    align-items: center;
}

.-ml-1\.5 {
    margin-left: -0.375rem;
}
.-my-0\.5 {
    margin-bottom: -0.125rem;
    margin-top: -0.125rem;
}
/*  */
.rounded-full {
    border-radius: 9999px;
}

.w-6 {
    width: 1.5rem;
}
.h-6 {
    height: 1.5rem;
}
.inline-block {
    display: inline-block;
}
img, video {
    height: auto;
    max-width: 100%;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
}

.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
}
.items-center {
    align-items: center;
}
.flex-1 {
    flex: 1 1;
}

/*  */

.space-x-2>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0.5rem*var(--tw-space-x-reverse));
}
.justify-end {
    justify-content: flex-end;
}
.items-center {
    align-items: center;
}
.w-4 {
    width: 1rem;
}
.h-4 {
    height: 1rem;
}
.flex {
    display: flex;
}
.ml-2 {
    margin-left: 0.5rem;
}

/*  */

















/*  */
/* @media (min-width: 768px) */
.md\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}
/* @media (min-width: 768px) */
.md\:\!bg-white {
    --tw-bg-opacity: 1!important;
    background-color: rgb(255 255 255/var(--tw-bg-opacity))!important;
}
/* @media (min-width: 640px) */
.sm\:px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
/* @media (min-width: 640px) */
.sm\:py-8 {
    padding-bottom: 2rem;
    padding-top: 2rem;
}
/* @media (min-width: 640px) */
.sm\:max-w-md {
    max-width: 28rem;
}
.py-4 {
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.\!bg-inherit {
    background-color: inherit!important;
}
.rounded-2xl {
    border-radius: 1rem;
}
.w-full {
    width: 100%;
}


/*  */
.text-right {
    text-align: right;
}
.mt-5 {
    margin-top: 1.25rem;
}




/*  */
.font-bold {
    font-weight: 800;
}

.text-left {
    text-align: left;
}

/*  */

element.style {
}
.space-y-3>:not([hidden])~:not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-bottom: calc(0.75rem*var(--tw-space-y-reverse));
    margin-top: calc(0.75rem*(1 - var(--tw-space-y-reverse)));
}

/*  */
.mb-8 {
    margin-bottom: 2rem;
}

/*  */
.mt-1 {
    margin-top: 0.25rem;
}

/*  */
.h-16 {
    height: 4rem;
}

/*  */
.bg-surface-default {
    background-color: #fff;
}
.text-left {
    text-align: left;
}
.border-slate-300 {
    --tw-border-opacity: 1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
}
.border {
    border-width: 1px;
}
.rounded-lg {
    border-radius: 0.5rem;
}
.overflow-hidden {
    overflow: hidden;
}
.items-center {
    align-items: center;
}
.cursor-default {
    cursor: default;
}
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}

/*  */
.items-center {
    align-items: center;
}

.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.flex {
    display: flex;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
[role=button], button {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/*  */
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.rounded-l-lg {
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.justify-between {
    justify-content: space-between;
}

/*  */
.justify-between {
    justify-content: space-between;
}
.items-center {
    align-items: center;
}
.min-w-full {
    min-width: 100%;
}

/*  */
.bg-slate-300 {
    --tw-bg-opacity: 1;
    background-color: rgb(203 213 225/var(--tw-bg-opacity));
}
.rounded-full {
    border-radius: 9999px;
}
.w-9 {
    width: 2.25rem;
}
.h-9 {
    height: 2.25rem;
}
.aspect-square {
    aspect-ratio: 1/1;
}

/*  */
.space-x-3>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(0.75rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(0.75rem*var(--tw-space-x-reverse));
}

.font-medium {
    font-weight: 500;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-ellipsis, .truncate {
    text-overflow: ellipsis;
}
.truncate {
    overflow: hidden;
    white-space: nowrap;
}

/*  */
.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

/*  */
.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

/*  */
.mt-8 {
    margin-top: 2rem;
}
/*  */
.text-midnight-600 {
    --tw-text-opacity: 1;
    color: rgb(73 108 233/var(--tw-text-opacity));
}
/*  */
.font-semibold {
    font-weight: 600;
}

/*  */
.justify-end {
    justify-content: flex-end;
}

.items-center {
    align-items: center;
}
.w-4 {
    width: 1rem;
}
.h-4 {
    height: 1rem;
}

/*  */
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}

/*  */
.border-brand-default, .dark .border-brand-default {
    border-color: #4f87f6;
}

.bg-brand-default, .dark .bg-brand-default {
    background-color: #4f87f6;
}
.transition {
    transition-duration: .15s;
    transition-property: color,background-color,border-color,fill,stroke,opacity,box-shadow,-webkit-text-decoration-color,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-text-decoration-color,-webkit-transform,-webkit-filter,-webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
}
.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}
.text-center {
    text-align: center;
}
.py-2 {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}
.border {
    border-width: 1px;
}
.rounded-full {
    border-radius: 9999px;
}
.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.cursor-pointer {
    cursor: pointer;
}
.w-full {
    width: 100%;
}
.flex {
    display: flex;
}
[role=button], button {
    cursor: pointer;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}
button, select {
    text-transform: none;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

/*  */

/* .cropping{
    max-width: 40px;
    margin-left: 0%;
} */


.text-slate-400 {
    --tw-text-opacity: 1;
    color: rgb(148 163 184/var(--tw-text-opacity));
}

.w-8 {
    width: 2rem;
}
.h-8 {
    height: 2rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
    display: block;
    vertical-align: middle;
}
svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}
svg{
    width: 24;
    height: 24;
    fill: none;
    stroke: currentcolor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
}


