
    /* 드롭다운 버튼 스타일링 */
    .dropbtn {
        background-color: #f1f1f1;
        color: #000;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    /* 드롭다운 메뉴 스타일링 */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: #000;
        padding: 10px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    /* 드롭다운 버튼이 클릭되었을 때 드롭다운 메뉴를 보여줍니다 */
    .dropdown.show .dropdown-content {
        display: block;
    }

    /* 선택된 프로젝트를 보여주는 박스 스타일링 */
    #selectedProject {
        padding: 10px;
        border: 1px solid #ccc;
    }
